.main-description {
    padding-top: 94px;}
.main-description__card {
    @extend %align;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;} 
.main-description__icon {
    height: 70px;
    width: 70px;}        
.main-description__list {
    display: flex;
    gap: 30px;}
.main-description__job { 
    width: 270px;}
.main-description__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);}
.main-description__subject{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 90px;}